<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:before="*[@type='Sitecore.Pipelines.Loader.SetGlobals, Sitecore.Kernel']" type="Sitecore.Support.Pipelines.Loader.InitializeServicePointManager, Sitecore.Support.207852" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>